---
import Footer from '~/components/widgets/Footer.astro';
import Header from '~/components/widgets/Header.astro';
import Layout from '~/layouts/PageLayout.astro';

import type { MetaData } from '~/types';
import { getAsset, getPermalink } from '~/utils/permalinks';

export interface Props {
  frontmatter: {
    title?: string;
  };
}

const { frontmatter } = Astro.props;

const metadata: MetaData = {
  title: frontmatter?.title,
};
const myFooterData = {
  links: [
    {
      title: 'Quick Links',
      links: [
        { text: 'Features', href: '#' },
        { text: 'Testimonials', href: '#' },
        { text: 'Download', href: '#' },
      ],
    },
  ],
  secondaryLinks: [
    { text: 'Terms', href: getPermalink('/terms') },
    { text: 'Privacy Policy', href: getPermalink('/privacy') },
  ],
  socialLinks: [
    { ariaLabel: 'X', icon: 'tabler:brand-x', href: '#' },
    { ariaLabel: 'Instagram', icon: 'tabler:brand-instagram', href: '#' },
    { ariaLabel: 'Facebook', icon: 'tabler:brand-facebook', href: '#' },
    { ariaLabel: 'RSS', icon: 'tabler:rss', href: getAsset('/rss.xml') },
    { ariaLabel: 'Github', icon: 'tabler:brand-github', href: 'https://github.com/onwidget/astrowind' },
  ],
  footNote: `
    <span class="w-5 h-5 md:w-6 md:h-6 md:-mt-0.5 bg-cover mr-1.5 rtl:mr-0 rtl:ml-1.5 float-left rtl:float-right rounded-sm bg-[url(https://onwidget.com/favicon/favicon-32x32.png)]"></span>
    Made by <a class="text-blue-600 hover:underline dark:text-gray-200" href="https://onwidget.com/"> Gifleet Rentals</a> · All rights reserved.
  `,
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      position="left"
      links={[
        { text: 'Home', href: '#' },
        { text: 'Features', href: '/homes/mobile-app#:~:text=Join%20the%20line%20online' },
        {
          text: 'Testimonials',
          href: '/homes/mobile-app#:~:text=%22%20SwiftQu%20made%20my,and%20user%2Dfriendly.%20%22',
        },
        { text: 'Download', href: '/homes/mobile-app#:~:text=Download%20the%20SwiftQU%20app%20now!' },
      ]}
      actions={[
        {
          text: "I'm a business",
          href: '#download',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>
  <Fragment slot="footer">
    <Footer {...myFooterData} />
  </Fragment>

  <section class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-4xl">
    <h1 class="font-bold font-heading text-4xl md:text-5xl leading-tighter tracking-tighter">{frontmatter.title}</h1>
    <div
      class="mx-auto prose prose-lg max-w-4xl dark:prose-invert dark:prose-headings:text-slate-300 prose-md prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-blue-600 dark:prose-a:text-blue-400 prose-img:rounded-md prose-img:shadow-lg mt-8"
    >
      <slot />
    </div>
  </section>
</Layout>
